extends layout

block content
    .w3-container
        h1 Lista de Filmes
        table.w3-table-all
            tr
                th Título
                th Ano
                th Visualizar
                th Remover
            each filme in lista
                tr
                    td= filme.titulo
                    td= filme.ano
                    td
                        a(href="http://localhost:3004/filmes/" + filme._id) 
                        button.w3-button.w3-round-xlarge.w3-blue-grey Ver
                    td
                        button.w3-button.w3-round-xlarge.w3-red(onclick="apagarFilme('" + filme._id + "')") Remover
