extends layout
block content
    .w3-container
        p <b>Identificador: </b> 
            =item.identificador
        p <b>Nome: </b>
            =item.nome
        p <b>Curso: </b>
            =item.curso
        p <b>Notas: </b>
        table.w3-table-all
            tr  
                th Identificador
                th Nota
                th Operações
            each a in item.notas
                tr
                    td= a.indicador
                    td= a.nota
                    td
                        button.w3.button.w3-circle.w3-blue-grey(onclick="removeNota('" + item.identificador + "','" + a.indicador + "')") Remover  
    hr
    .w3-container
        h3 <b>Nova Nota:</b>
        form.w3-container(action="/alunos/"+item.identificador+"/notas" method='POST')
            label
                b Indicador 
            input.w3-input.w3-border.w3-light-grey(type='text' name='indicador')
            label
                b Nota 
            input.w3-input.w3-border.w3-light-grey(type='text' name='nota')
            label
            input.w3-btn.w3-blue-grey(type='submit' value='Enviar')
    hr
    .w3-container
        form(method="get" action=`/alunos`)
            button.w3.button.w3-circle.w3-blue-grey(type="submit") Voltar
    
    footer.w3-container.w3-teal
    address Gerado por Gestão de Alunos App: